<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaicopaillag.app.mageli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".Activity.FirebaseBD"
        android:allowBackup="true"
        android:icon="@drawable/iconmageli"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notificacion" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/celeste_oscuro" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.RegistroUsuarioActivity" />
        <activity android:name=".Activity.PerfilActivity" />
        <activity android:name=".Activity.CitaActivity" />
        <activity android:name=".Activity.ConsultaActivity"></activity>
        <service android:name=".Servicios.MiFirebaseNotificacionServicio">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".Servicios.MiFirebaseInstanciaIDServicio">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>